.css-demo-notice {
}
.css-demo-container {
  height: 400px;
  background: blanchedalmond;
  width: 50%;
  padding: 10px 10px;
  position: relative;
  .css-demo-left {
    float: left;
    width: 50%;
    .css-demo-div {
    }
    .css-demo-name {
    }
  }
  .css-demo-right {
    float: left;
    width: 50%;
    .css-demo-html {
    }
    .css-demo-css {
      float: right;
      overflow-y: auto;
      word-wrap: break-word;
      z-index: 2;
      font-size: 18px;
      height: 100%;
      width: 50%;
    }
  }
}
